In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr

In [11]:
ticker = "FORTUM.HE"
days = 100
%run -i main.py

In [14]:
stock_data = pd.read_csv("data/stock_data.csv")
stock_data

,Date,High,Low,Open,Close,Volume,Weekday,Diff_percent,Avg_weekday,Diff_from_max,Diff_from_min,Diff_percent_from_avg
0,2022-02-21,22.910000,21.500000,22.799999,21.910000,2049479.0,Monday,0.000000,0.000000,0.000000,7.360000,5.376929
1,2022-02-22,21.670000,20.330000,20.500000,21.600000,4120858.0,Tuesday,-11.219508,-1.025694,-1.240000,6.190000,4.171929
2,2022-02-23,21.549999,20.500000,21.500000,20.629999,2307543.0,Wednesday,4.651163,0.097161,-1.360001,6.360000,4.196928
3,2022-02-24,19.915001,18.485001,19.000000,18.730000,5079376.0,Thursday,-13.157895,-0.470356,-2.994999,4.345000,2.371929
4,2022-02-25,20.100000,18.485001,18.700001,19.465000,4177719.0,Friday,-1.604274,-0.746609,-2.809999,4.345000,2.464429
...,...,...,...,...,...,...,...,...,...,...,...,...
65,2022-05-25,17.660000,17.000000,17.309999,17.660000,1358225.0,Wednesday,1.097624,0.097161,-5.250000,2.860000,0.501929
66,2022-05-27,17.820000,17.125000,17.750000,17.549999,1632195.0,Friday,2.478876,-0.746609,-5.090000,2.985000,0.644428
67,2022-05-30,17.725000,17.209999,17.555000,17.549999,1154942.0,Monday,-1.110793,-0.241963,-5.184999,3.069999,0.639428
68,2022-05-31,17.570000,17.200001,17.540001,17.200001,3530730.0,Tuesday,-0.085515,-1.025694,-5.340000,3.060000,0.556929
69,2022-06-01,17.355000,16.629999,17.280001,16.680000,684555.0,Wednesday,-1.504631,0.097161,-5.555000,2.489999,0.164428